.about {
  width: 100%;
  padding: 199px 0 84px 80px;
  display: flex;
  align-items: start;
  justify-content: center;
  background: $about;
  overflow: hidden;

  @media screen and ( max-width: $laptop-bp) {
    padding: 210px 0 64px 25px;
  }
  @media screen and ( max-width: $mobile-bp) {
    padding: 220px 0 64px 0;
  }
}
.about__left {
  margin-top: 95px;
  width: 45%;

  @media screen and ( max-width: $tablet-bp) {
    margin-top: 70px;
  }
  @media screen and ( max-width: $mobile-bp) {
    margin-top: 50px;
  }
  @media screen and ( max-width: $tapik-bp) {
    margin-top: 40px;
  }
}

.about__right {
  position: relative;
  width: 45%;

}
.about__images-position {
  position: absolute;
  width: 50%;
  left: calc(37% - 70px);
  bottom: calc(14% - 84px);

  @media screen and ( max-width: $mobile-bp) {
    left: calc(47% - 70px);
    bottom: calc(27% - 84px);
  }
  @media screen and ( max-width: $tapik-bp) {
    left: calc(60% - 70px);
    bottom: calc(43% - 84px);
  }
}
// .about__images {

//   &--left {
//     width: 670px; 
//   }
//   &--right {
//     max-width:805px;

//   }
// }