.arrow-wrap {
  width: 100%;
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--order-call {
    position: absolute;
    top: calc(50% - 50px);
    justify-content: space-between;
    z-index: 1;
  }
}
.arrow {
  border: 0;
  cursor: pointer;
  background: transparent;

  &--prev {
    padding-right: 8px;
  }
  &--next {
    padding-left: 8px;
  }
}