
.footer__container {
  padding: 30px 0 21px 0;
  background-image: url(../images/footer_Bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $footer-bg;
  box-shadow: 5px 5px 69px 0px rgba(38, 38, 38, 0.10);
}
.footer__inner {
  display: flex;
  align-items: start;
  justify-content: start;

  @media screen and ( max-width: $mobile-bp) {
    flex-wrap: wrap;
  }
}
.footer__info {
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  @media screen and ( max-width: $mobile-bp) {
    width: 100%;
    align-items: center;
  }
}
.footer__social {
  margin: 38px 0;
  display: flex;
  align-items: center;
  justify-content: start;

  @media screen and ( max-width: $mobile-bp) {
    width: 100%;
    justify-content: center;
  }

}
.footer__element {
  margin: 0 22px;

  text-decoration: none;
  transition: transform 1s ease;

  &:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
  }
}
.footer__cooperation {
  padding: 22px 0;

  background: #C39A3B;
  box-shadow: 5px 5px 69px 0px rgba(38, 38, 38, 0.10);

}
.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
