
<div class="modal  closest" id="doc">
  <div class="modal__window">
    <div class="modal__box  modal__box--doc">
      <div class="close"  data-close="doc">
          <svg class="close__svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23 1.00049L1 23.0005" stroke="black" stroke-linecap="round"/>
              <path d="M1 1.00049L23 23.0005" stroke="#33363F" stroke-linecap="round"/>
          </svg>
      </div>
      <div class="modal__info  modal__info--document">
          <h2 class="title title--document">Cведение об образовательной организации</h2>
          <p class="text text--document">В данном разделе Вы можете ознакомиться c нормативными документами и локальными актами ООО «Центр Развития Бендфорт», которыми мы руководствуемся в нашей деятельности</p>
          <ul class="document">
            <li class="document__list">
              <div class="document__image">
                <svg class="document__svg" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="3" cy="3" r="3" fill="#F7D70A"/>
                </svg>
              </div>
              <a class="document__link" href="../assets/documents/Terms-of-user.pdf" target="_blank">Пользовательское соглашение на сайт</a>
            </li>
            <li class="document__list">
              <div class="document__image">
                <svg class="document__svg" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="3" cy="3" r="3" fill="#F7D70A"/>
                </svg>
              </div>
              <a class="document__link" href="../assets/documents/Price-english.pdf" target="_blank">Прайс Краснодар Курсы иностранных языков</a>
            </li>
            <li class="document__list">
              <div class="document__image">
                <svg class="document__svg" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="3" cy="3" r="3" fill="#F7D70A"/>
                </svg>
              </div>
              <a class="document__link" href="../assets/documents/Public-offer-contract-service-adults.pdf" target="_blank" >Публичная оферта договор на предоставление услуг Взрослые</a>
            </li>
            <li class="document__list">
              <div class="document__image">
                <svg class="document__svg" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="3" cy="3" r="3" fill="#F7D70A"/>
                </svg>
              </div>
              <a class="document__link" href="../assets/documents/Public-offer-contract-service-children.pdf" target="_blank" >Публичная оферта договор на предоставление услуг Дети</a>
            </li>
            <li class="document__list">
              <div class="document__image">
                <svg class="document__svg" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="3" cy="3" r="3" fill="#F7D70A"/>
                </svg>
              </div>
              <a class="document__link" href="../assets/documents/Card-partner.pdf" target="_blank" >Карта партнера</a>
            </li>
          </ul>
      </div>
      <div class="modal__action  modal__action--privacy">
            <button class="btn btn--modal" data-scroll="scroll-middle-register">Записаться</button>
      </div>
    </div>
  </div>
</div>