<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/style.min.css">
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/hunt_favicon.ico" >

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="Предлагаем всем желающим окунуться в мир дикой природы и встретить зверя своей мечты. Круглогодичный охотничий тур по системе "все включено"!">
<meta name="keywords" content="ЭЛИТНАЯ ОХОТА В КРАСНОДАРСКОМ КРАЕ">

<meta property="og:locale" content="ru_RU" >
<meta property="og:type" content="article" >
<meta property="og:title" content="ЭЛИТНАЯ ОХОТА В КРАСНОДАРСКОМ КРАЕ">
<meta property="og:description" content="ЭЛИТНАЯ ОХОТА В КРАСНОДАРСКОМ КРАЕ!">
<meta property="og:image" content="http://kimostitchyny.ru/assets/images/logo.png">
<meta property="og:url" content="http://kimostitchyny.ru/">
<meta property="og:site_name" content="Hunt of House">
<meta name="author" content=" ooo tuorexpert">
<meta name="copyright" content="https://tuorexpert.ru/">

<title>{{ title }}</title>
