<aside class="sidebar  closest" id="sidebar" >
    <div class="sidebar__content">
        <nav class="menu menu--mobile">
            <ul class="menu menu--mobile" >
                <li class="menu__list  menu__list--mobile">
                    <div class="menu__wrapp">
                        <a href="#" class="menu__link" data-scroll="scroll-benefits">О школе</a>
                        <svg class="menu__svg" width="13" height="9" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L6.5 7L12 1" stroke="black" stroke-linecap="round"/>
                        </svg>
                        <ul class="subnav  subnav--mobile">
                            <li class="menu__list  menu__list--mobile">
                                <a class="subnav_link" href="#" data-mod="doc">Cведения об образовательной организации</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__list  menu__list--mobile">
                    <a href="#" class="menu__link" data-scroll="scroll-card">Наши услуги</a>

                </li>
                <li class="menu__list  menu__list--mobile">
                    <a href="#" class="menu__link" data-scroll="scroll-question">Ответы на вопросы</a>
                </li>
                <li class="menu__action  menu__action--mobile">
                    <a class="phone" href="tel:+78612139797" >+7 861 213-97-97</a>
                </li>
                <li class="menu__action  menu__action--mobile">
                    <button class="btn  btn--header" data-scroll="scroll-middle-register" >Записаться</button>
                </li>
            </ul>
        </nav>
    </div>
</aside>